{% if data['value'] %}
    <span class="filter-state">
        <small>{{ filtertype.filterLabel |trans }}</small>
        <span class="badge">{{ data['value'][0] }}&thinsp;&ndash;&thinsp;{{ data['value'][1] }}</span>
    </span>
{% endif %}